/* base styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --primary: #feffff;
    --secondary: #3aafa9;
    --secondary-light: #bbdedd;
    --cta: #17252a;
    --grey: grey;

    --border-radius: 5px;
    --btn-padding: 10px 15px;
    --shadow: 5px 5px 10px rgba(0, 0, 0, 0.1)
}

section, footer {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    padding: 80px;
}

.icon {
    width: 20px;
    filter: invert(100%) sepia(19%) saturate(1712%) hue-rotate(170deg) brightness(104%) contrast(102%);
}


/* navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    height: 80px;
    background-color: var(--secondary);
    color: var(--primary);
    font-weight: 600;
    gap: 50px;
}

nav a {
    white-space: nowrap;
}

.nav-search {
    width: min(800px, 70%);
    position: relative;
}

.nav-search input {
    border-radius: var(--border-radius);
    border: none;
    padding: 10px;
    width: 100%;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.search {
    filter: invert(75%) sepia(9%) saturate(3082%) hue-rotate(126deg) brightness(82%) contrast(76%);
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(-50%, -50%);
}

nav a:hover, .nav-search input:hover, .nav-links li:hover, .search:hover {
    cursor: pointer;
}

/* categories */

#categories ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#categories li {
    background-color: var(--cta);
    color: var(--primary);
    padding: var(--btn-padding);
    border-radius: var(--border-radius);
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    box-shadow: var(--shadow);
}

#categories li:hover {
    cursor: pointer;
}

/* cards */

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 0;
}

.card {
    background-color: var(--secondary-light);
    padding: 10px;
    height: 380px;
    width: 250px;
    border-radius: var(--border-radius);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

.img-container {
    background-color: var(--primary);
    width: 230px;
    height: 240px;
    padding: 20px;
    border-radius: var(--border-radius);
}

.text-container {
    background-color: var(--primary);
    height: 110px;
    width: 100%;
    border-radius: var(--border-radius);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-container button {
    width: 110px;
    border: none;
    padding: var(--btn-padding);
    background-color: var(--cta);
    color: var(--primary);
    font-weight: 600;
    border-radius: var(--border-radius);
}

.text-container button:hover {
    cursor: pointer;
}

.text-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-detail h4:nth-child(1) {
    font-weight: 400;
}

.text-detail h4:nth-child(2) {
    color: var(--grey);
    font-weight: 400;
}

.food {
    width: 100%;
}

.card-icon {
    filter: invert(33%) sepia(96%) saturate(2530%) hue-rotate(339deg) brightness(116%) contrast(98%);
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
}

.card-icon:hover {
    cursor: pointer;
}

/* pagination */

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pagination-box {
    padding: 10px;
    border-radius: var(--border-radius);
    font-weight: 600;
}

.fill-box {
    background-color: var(--cta);
    color: var(--primary);
}

.fill-box:hover {
    cursor: pointer;
}

/* mobile */

@media (max-width: 768px) {
    nav {
        padding: 0 40px;
        height: 60px;
    }

    section, footer {
        padding: 40px;
    }
}